@model Portfolio.MVC.Models.EmailViewModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header" id="home">
    <div class="custom-grid custom-container">
        <div class="mr-md-5">
            <h1>Hello 👏🏼 I am Uzor Nwachukwu</h1>
            <p>
                A fullstack software developer <span class="emoji">💻</span> with experience working with HTML, CSS, JavaScript, React/Redux, Materia-Ul, 
                NodeJS/Express, MongoDB/Mongoose, SQL, C#, Asp.Net, and MVC architecture.
            </p>
            <div class="d-flex d-md-block justify-content-between align-items-center py-2 mt-4">
                <a class="btn about-btn py-2" href="~/Images/Updated Resume.pdf" download>
                    Download CV <i class="fa-solid fa-download"></i>
                </a>
                <a href="#contact" class="d-md-inline ml-sm-2 ml-5 py-2 btn contact-btn">
                    Contact Me <i class="fa-solid fa-phone"></i>
                </a>
            </div>
        </div>
        <div class="mt-3 md-mt-0">
            <img class="home-header-image" src="~/Images/soft-developer-illustration.png" alt="software engineering"/>
        </div>
    </div>
</div>
<div class="about-me" id="about">
    <div class="custom-container">
        <h2 class="about-title text-center">About Me</h2>
        <div class="underline-border text-center"></div>
        <div class="custom-grid py-2">
            <div class="text-md-left text-center">
                <img src="~/Images/Profile-Image.jpeg" class="profile-image"/>
            </div>
            <p>
                Full-stack software developer with experience working with HTML, CSS, JavaScript, React/Redux, 
                Materia-Ul, NodeJS/Express, MongoDB/Mongoose, SQL, C#, Asp.Net, and MVC architecture. <br />

                My ultimate career goal is to become a world-class engineer capable of delivering highly 
                optimized software solutions to complex business problems by consistently applying and 
                developing my technical and soft skills, while relentlessly refining and improving my approach 
                to problem-solving and decision making.<br />

                I am always up for a challenge as I am a firm believer that growth can only happen outside my comfort zone.
            </p>
        </div>
    </div>
</div>
<div class="projects" id="projects">
    <div class="custom-container">
        <h2 class="text-center">Projects</h2>
        <div class="underline-border text-center"></div>
        <div class="custom-grid align-items-start">
            <img src="~/Images/tip-calculator-js.png" />
            <div class="project-description">
                <h4>Tip Calculator</h4>
                <p>
                    A web application that calculates the tips a person or group of person pays based
                    on their bills, tip percentage and number of person splitting the bill.<br /><br />
                    The project is based on design and specification of a frontend mentors challenge.<br /><br />
                    <strong>Tools: </strong>HTML, CSS and Javascript.
                </p>
                <div class="links">
                    <a target="_blank" href="https://github.com/Nwachukwu-Uzor/tip-calculator" class="preview-link"><i class="fa-brands fa-github"></i> Github</a>
                    <a target="_blank" href="https://tip-calculator-uzor.netlify.app" class="preview-link"><i class="fa-solid fa-eye"></i> Live</a>
                </div>
            </div>
        </div>
        <div class="custom-grid align-items-start">
            <img src="~/Images/dev-hire.png" />
            <div class="project-description">
                <h4>Dev Hire</h4>
                <p>
                   A web application that allows freelancers to register and get jobs. It contains a landing page
                    That displays a list of freelancers showing: their avatar, banner images, asking prices and display name.<br /><br />
                    A user can add a developer to his favorites by clicking the like button and can view all favorite freelancer on a
                    favorites page.<br /><br />
                    The page also has a currency converter that allows a user convert the developers asking 
                    price to a list of other currencies
                    <br /><br />
                    <strong>Tools: </strong>ReactJs, Redux Toolkit, React Router, axios and SASS.
                </p>
                <div>
                    <a target="_blank" href="https://github.com/Nwachukwu-Uzor/dev-hire" class="preview-link"><i class="fa-brands fa-github"></i> Github</a>
                    <a target="_blank" href="https://dev-hire-ui.netlify.app/" class="preview-link"><i class="fa-solid fa-eye"></i> Live</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact" id="contact">
    <div class="custom-container">
        <h2 class="text-center">Contact Me</h2>
        <div class="underline-border text-center"></div>
        <div class="custom-grid align-items-start">
            <div class="socials">
                <h2 class="text-center text-md-left">FIND ME</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.445164498281!2d3.729973614770371!3d6.465151995322875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bfe0eb835afab%3A0x7a9d72305ba71e41!2sAdeba%20Rd%2C%20105101%2C%20Lekki!5e0!3m2!1sen!2sng!4v1654463317828!5m2!1sen!2sng" 
                    class="map" allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>

            </div>
            <div>
                <div class="contact-form-wrapper d-flex justify-content-center">
                    <form asp-action="Index" method="post" class="contact-form" id="contact-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h5 class="title">Contact me</h5>
                        <p class="description">
                            Feel free to send me a message.
                        </p>
                        @if (TempData["Error"] != null)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="alert alert-danger text-white bold py-1 w-100">Alert @TempData["Error"]</p>
                            </div>
                        }
                        <div>
                            <input type="text"
                                   class="form-control rounded border-white mb-3 form-input"
                                   id="name" placeholder="Subject" required
                                   asp-for="Subject" 
                            />
                        </div>
                        <div>
                            <input type="text"
                                   class="form-control rounded border-white mb-3 form-input"
                                   id="name" placeholder="Name" required
                                   asp-for="Name" />
                        </div>
                        <div>
                            <input type="tel"
                                   class="form-control rounded border-white mb-3 form-input"
                                   id="name" placeholder="Phone" required
                                   asp-for="Phone" />
                        </div>
                        <div>
                            <input type="email"
                                   class="form-control rounded border-white mb-3 form-input"
                                   placeholder="Email" required
                                   asp-for="Email">
                        </div>
                        <div>
                            <textarea id="message"
                                      class="form-control rounded border-white mb-3 form-text-area"
                                      rows="5" cols="30" placeholder="Message"
                                      required
                                      asp-for="Message"></textarea>
                        </div>
                        <div class="submit-button-wrapper">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
